* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* flex: 1; */
  width: 100vw;
  height: 100vh;


  background-image: url(src/bank1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.wrapper-form {
  width: 500px;
  margin: 0 auto;
  height: 600px;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;

}

.wrapper-form form {
  width: 100%;
  height: 100%;


  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.wrapper-form form input {
  width: 100%;
  padding: 15px;

  background: transparent;
  border: 0;
  background: rgba(140, 145, 165, 0.08);

  outline: #f5f5f5;

  transition: border-color 0.2s;
}

.wrapper-form form input + input {
  margin-top: 15px;
}


.wrapper-form form input:focus {
  border-color: #ff8402;
}

.wrapper-form form input::placeholder {
  text-transform: uppercase;
  color: rgb(108, 117, 125);
}

.wrapper-form form button {
  width: 100%;
  padding: 15px;

  background-color: #ff8402;
  color: #fff;
  border: 0;
  border-radius: 5px;

  cursor: pointer;

  transition: opacity 0.3s;
  
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.wrapper-form form button:hover {
  opacity: 0.9;
}

.logo {
  display: flex;

  align-items: center;
  justify-content: center;

}

.logo img {
  width: 80px;
  height: auto;
  border-radius: 5px; 
}

.logo h2 {
  font-family: Montserrat, sans-serif; 
  text-transform: uppercase; 
  margin-left: 15px;
  color: #666;
} 

.wrapper-input a { 
  text-align: right; 
  display: block; 

  text-decoration: none; 
  color: #ff8402;
  font-family: Montserrat, sans-serif;
  margin-top: 10px; 
  font-weight: 500; 
  
 transition: opacity 0.3s; 

} 

.wrapper-input a:hover { 
  opacity: 0.8;
}

footer {
  width: 100%;
  color:#fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  margin-top: 15px;

}